<ion-view style="" title="Course Recommendation">
  <ion-content class="has-header" padding="true">
    <form>
      <ion-list>

        <label class="item item-input">
          <span class="input-label">User Name</span>
          <input type="text" placeholder="Venu Babu Kolla" ng-model="completedcourses.username" ng-readonly="true">
        </label>

        <h1>Recommended Major</h1> Data Science

        <h1>Recommended Course List:</h1>
        <ion-list id="compltedID">
          <ion-item >
            Big Data Analytics and Applications
          </ion-item>
          <ion-item >
            Introduction to Statistical Learning
          </ion-item>
          <ion-item >
            Architecture of Database Management Systems
          </ion-item>
          <ion-item >
            Large Scale Semistructured Data Management
          </ion-item>
        </ion-list>
        <button class="button button-stable button-block  button-full" ng-click="updateSettings()" id="updateButton">Recommend
        </button>

    </form>
  </ion-content>
</ion-view>
