<!--<div class="list">-->
  <!--&lt;!&ndash;<div class="item" ng-repeat="item in data.items">{{item.label}}</div>&ndash;&gt;-->

  <!--<div class="item" onclick="alert('in Basic Profile');" ng-mouseover="alert('in mouseov');" onfocus="alert('in onfocus');">Basic Profile</div>-->
  <!--<div class="item">Previous Academic Details</div>-->
  <!--<div class="item">Courses Enrolled</div>-->
  <!--<div class="item">Courses Completed</div>-->
  <!--<div class="item">Basic Profile</div>-->
  <!--<div class="item">ur here</div>-->
<!--</div>-->

<ion-list>
  <ion-item menu-close href="#/profile/profilebasic">
    Basic Profile
  </ion-item>
  <ion-item menu-close href="#/profile/profileCourseCompleted">
    Courses Completed
  </ion-item>
  <ion-item menu-close href="#/profile/profileCoursesEnrolled">
    Courses Enrolled
  </ion-item>
  <ion-item menu-close href="#/profile/profileAcademicDetails">
    Course Recommendation
  </ion-item>
  <!--<ion-item menu-close href="#/app/playlists">-->
    <!--Basic Profile-->
  <!--</ion-item>-->
</ion-list>
